* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#images {
  height: 500px;
  position: relative;
}

#wrapper {
  margin: 20px;
  width: 500px;
  overflow: hidden;
}

img {
  position: absolute;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  top: 0px;
}